<app-menu></app-menu>
<div class="Fbot">
    <h1 class="text-center">Transferencia de películas</h1>  
</div>
<div class="inventario">
    <div class="row">
        <div class="col">
            <h3>Seleecione las películas a transferir</h3>
            <div class="form-group" wfd-id="291">
                <select class="form-select" wfd-id="292">
                  <option selected="">Seleccione</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
        </div>
        <div class="col">
            <h3>Buscar usuario</h3>
            <div class="form-group has-success" wfd-id="328">
                <input type="text" value="correct value" class="form-control is-valid" id="inputValid" wfd-id="505">
                <!--<div class="valid-feedback" wfd-id="329">Usuario correcto</div>-->
            </div>
            <button type="button" class="btn">Buscar</button>
        </div>
    </div>
</div>

