<app-menu></app-menu>
<div class="Fbot">
    <h1 class="text-center">Historial De Transacciones</h1>  
</div>
<div class="col-md-6 offset-md-3">
    <table class="table table-hover">
        <thead class="bg-dark text-white">
            <tr align="center">
                <th  scope="col">ID_Transaccion</th>
                <th  scope="col">Numero de Targeta</th>
                <th  scope="col">Nombre de Targeta</th>
                <th  scope="col">Fecha Expiracion</th> 
                <th  scope="col">Monto a Pagar</th>
                <th  scope="col">Codigo verificador</th>
                <th  scope="col">Detalle Transaccion(peliculas)</th>  
            </tr>    
        </thead>
        <tbody>
            <tr *ngFor = "let trans of transacciones">
                <td align="center">{{trans.Id_transaccion}}</td>
                <td align="center">{{trans.Num_tarjeta}}</td>
                <td align="center">{{trans.Nombre_tarjeta}}</td>
                <td align="center">{{trans.Fecha_vencimiento}}</td>
                <td align="center">{{trans.Total}}</td>
                <td align="center">{{trans.CVV}}</td>
                <td align="center">{{trans.attributes}}</td>
            </tr>
        </tbody>
    </table>
</div>
