<app-menu></app-menu>
<div class="Fbot">
    <h1 class="text-center">Mis peliculas</h1>  
</div>
<div class="contenedor">
  <div class="inventario">
      <div class="card text-white bg-dark mb-3"  wfd-id="77">
          <div class="card-header" wfd-id="79">Raya & The Last Dragon</div>
          <div class="card-body" wfd-id="78">
            <img src={{imagePath}} width="200" height="300" >
          </div>
        </div>
        <div class="card text-white bg-dark mb-3"  wfd-id="77">
          <div class="card-header" wfd-id="79">Raya & The Last Dragon</div>
          <div class="card-body" wfd-id="78">
            <img src={{imagePath}} width="200" height="300" >
          </div>
        </div>
  </div> 
</div>