<div class="p-3 mb-2 bg-dark">
    <h1 class="text-center">Inventario</h1>  
</div>
<div class="contenedor">
    <div class="inventario">
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;" wfd-id="77">
            <div class="card-header" wfd-id="79">Nombre pelicula</div>
            <div class="card-body" wfd-id="78">
              <!--<h4 class="card-title">Dark card title</h4>-->
              <p class="card-text">imagen de pelicula</p>
            </div>
          </div>
    </div> 
</div>

